<div class="jumbotron">
  <h1>{{code}}</h1>
  {{#error}}
  <h3><b>Message:</b> {{message}}</h3>

  <table class="table table-striped table-condensed stack-trace">
    {{#trace}}
    <tr><td>{{.}}</td></tr>
    {{/trace}}
  </table>
  {{/error}}

  <p>
    <a href="/">documentation</a>
    <a href="https://github.com/Olivine-Labs/lusty">lusty @ GitHub</a>
  </p>
</div>
