<div class="jumbotron">
  <h1>{{code}}</h1>

  <p>
    {{message}}
  </p>

  <p>
    <a href="/">documentation</a>
    <a href="https://github.com/Olivine-Labs/lusty">lusty @ GitHub</a>
  </p>
</div>
